{%- extends 'layout.html' -%}

{%- block content -%}
  <div>
  
    We are located at 4-105 Oak Park Drive in Waterloo, Ontario. Our postal code is N2K 0B3.
    <br /><br />
    You can contact us by Phone at <a href="tel:5198885555">(519) 888-5555</a>.
    <br /><br />
    Fax: <a href="tel:5198885554">(519) 888-5554</a>
    <br /><br />
    <h4>
      Store Hours
    </h4>
    
    <table>
      <tr>
        <td style="width: 20vh; padding: 10px">Monday</td> <td style="padding: 10px">9:00 am - 6:00 pm</td>
      </tr>
      <tr style="background-color: white">
        <td style="padding: 10px">Tuesday</td> <td style="padding: 10px">9:00 am - 8:00 pm</td>
      </tr>
      <tr>
        <td style="padding: 10px">Wednesday</td> <td style="padding: 10px">9:00 am - 6:00 pm</td>
      </tr>
      <tr style="background-color: white">
        <td style="padding: 10px">Thursday</td> <td style="padding: 10px">9:00 am - 8:00 pm</td>
      </tr>
      <tr>
        <td style="padding: 10px">Friday</td> <td style="padding: 10px">9:00 am - 6:00 pm</td>
      </tr>
      <tr style="background-color: white">
        <td style="padding: 10px">Saturday</td> <td style="padding: 10px">9:00 am - 3:00 pm</td>
      </tr>
      <tr>
        <td style="padding: 10px">Sunday</td> <td style="padding: 10px">Closed</td>
      </tr>
    </table>
  </div>
{%- endblock -%}