{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header grey-text text-darken-3">
    {{ locale["blog"] }}
    <a class="btn-floating btn-large pink lighten-2 waves-effect right" href="/create-blog-post"><i class="material-icons">add</i></a>
  </h2>
  
  {%- for post in posts -%}
  {%- if not post.hidden or (user and user.admin) -%}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{ post.title }}</span>
          <hr class="card-divider" />
          <div class="grey-text text-darken-1 mdbox">
            {{ post.content | markdown | safe }}
          </div>
        </div>
        <div class="card-action">
          <a href="/post/{{ post.id }}" class="pink-text">{{ locale["open_action"] }}</a>
          {%- if user and user.admin -%}
          <a href="/edit-blog-post/{{ post.id }}" class="pink-text">{{ locale["edit_action"] }}</a>
          {%- endif -%}
          <span>{{ post.comments | length }} {{ locale["comments_singular"] if (post.comments | length) == 1 else locale["comments_plural"] }}</span>
          {%- if post.hidden -%}
          <span class="red-text">&nbsp; {{ locale["hidden_post"] }}</span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}
</div>

{%- endblock -%}