{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header grey-text text-darken-3">
    {{ locale["blog"] }}
  </h2>
  
  {%- for post in posts -%}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ post.title }}</span>
          <hr class="card-divider" />
          <p>
            {{ post.content | markdown | safe }}
          </p>
        </div>
        <div class="card-action">
          <a href="/post/{{ post.id }}" class="pink-text">Read More</a>
        </div>
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>

{%- endblock -%}