{%- extends 'layout.html' -%}

{%- block content -%}

<div class="container">
  {%- include 'flashes.html' -%}
  
  <div class="row">
    <div class="col s12">
      <h2 class="header grey-text text-darken-3">
        {{ locale["signup"] }}
      </h2>
    </div>
  </div>
  
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate" required value="{{ __field_name }}" />
          <label for="name">{{ locale["name"] }}</label>
        </div>
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required disabled value="{{ __field_email }}" />
          <label for="email">{{ locale["email"] }}</label>
          <span class="helper-text" data-error="{{ locale['invalid_email'] }}"></span>
        </div>
        <div class="input-field col s12 m6 l6">
          <input id="password" name="password" type="password" class="validate" required minlength=8 />
          <label for="password">{{ locale["password"] }}</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <input id="rpassword" name="rpassword" type="password" class="validate" required minlength=8 />
          <label for="rpassword">{{ locale["rpassword"] }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn pink lighten-2 waves-effect" type="submit" name="action">
            {{ locale["signup"] }}
          </button>
          &nbsp;&nbsp;&nbsp;  
          <span class="grey-text">{{ locale["signin_crosslink_label"] }} <a href="/signin?next={{ query.get('next', '/') }}">{{ locale["signin_crosslink"] }}</a></span>
        </div>
      </div>
    </form>
  </div>
</div>

{%- endblock -%}