{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header grey-text text-darken-3">
    {{ locale["edit_profile"] }}
  </h2>
  
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate" required value="{{ __field_name }}" />
          <label for="name">{{ locale["name"] }}</label>
        </div>
        <div class="input-field col s12">
          <input id="username" name="username" type="text" class="validate" required value="{{ __field_username }}" />
          <label for="username">{{ locale["username"] }}</label>
        </div>
<!--         <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required value="{{ __field_email }}" />
          <label for="email">{{ locale["email"] }}</label>
          <span class="helper-text" data-error="{{ locale['invalid_email'] }}"></span>
        </div> -->
        <div class="input-field col s12 m6 l6">
          <input id="password" name="password" type="password" class="validate" minlength=8 />
          <label for="password">{{ locale["password_change"] }}</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <input id="rpassword" name="rpassword" type="password" class="validate" minlength=8 />
          <label for="rpassword">{{ locale["rpassword"] }}</label>
        </div>
      </div>
      
      <button class="btn pink lighten-2 waves-effect" type="submit" name="action">
        {{ locale["save"] }}
      </button>
    </form>
  </div>
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}