{%- extends 'layout.html' -%}

{%- block content -%}
  <div>
    Q: "What do I do if my product or service is not on the list?"
    <br />
    A: Do not worry if your product is not on the list, you can simply select the most relevant one and add Notes. 
        For example, if you want to order a prescription that isn't on the list, simply order from the generic Prescription Drug product 
        and include notes that specify what you know about the prescription.
    
    <br /><br />
    
    Q: Can I order multiple products in one order?
    <br /> 
    A: Yes.
    
    <br /><br />
    
    Q: Why can't I choose curbside pickup/dropoff as an option?
    <br />
    A: If your order contains a service, such as an injection or COVID-19 test, your order must be completed in-store. 
      We cannot provide such sevices outside of the store.
    
    <br /><br />
    
    Q: There's no times for me to choose from!
    <br />
    A: Unfortunately, if there are no times for you to choose from, it means that that day is full. 
      You will have to choose another day to schedule an appointment, as we are busy that day.
  </div>
{%- endblock -%}