{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header pink-text text-darken-1">
    Super Moms Club
  </h2>
  
  <p class="pink-text text-lighten-2">
    {%- if lang == "CN" -%}
    調断近本小期官京決響刃稿鈴。真谷話渓回文前転違禁機畑第賞開権。横効変球武載変徳参関笑輪柄細。青学村最総半写質人進得混理。今戦合当込志広経写直野球表対受責二認意棟。以阪詩記双冒株求野代点却。生夕激上東取聞会料束正周。生禁敷司掲府戦表的仮歳賞閣男月区索合。倍応真現目臓官島特四率観減。氏先売美広親岩事意高載全男引井国著方。
    {%- else -%}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper ipsum metus, malesuada dictum enim imperdiet vitae. In euismod pretium justo ut euismod. Quisque vestibulum commodo odio. Maecenas feugiat ullamcorper tempus. Nulla lacus orci, blandit et est in, laoreet vehicula nibh. Cras eget laoreet nibh. Aenean sodales ante eget ipsum semper ultrices. Sed tincidunt ipsum vitae enim venenatis placerat. Suspendisse dapibus quis sem at congue. Vivamus id elit ut urna maximus auctor vel interdum ante. In dictum, magna eu sollicitudin viverra, leo lacus euismod arcu, vitae ornare nisi sapien at justo.
    {%- endif -%}
  </p>
  
  <p class="pink-text text-lighten-2">
    {%- if lang == "CN" -%}
    能仮改果室服週法伝年始選違水初五保暮関。報特解模裁科射秋者教島島需東革。格索勉歯与案型厚承左資名念。温選世特神王之性庁政合会北孫監八自転。改権回非料掲和諭旅枝展郎演拡要明何読。債批断際戦岐変彼式書住年。団意図減愛生公逮強国残究併豪要銀座要。意読康賞掲収能軍際段本軽。覧限更終座組気重亡作携国生久。
    {%- else -%}
    Praesent ornare commodo tincidunt. Ut consequat lobortis varius. Ut convallis scelerisque hendrerit. Vestibulum tristique varius lobortis. Nullam lacus justo, porta vel nunc vitae, auctor vestibulum orci. Quisque vel augue et justo posuere placerat ac at dui. Praesent tincidunt urna justo, non malesuada nulla fringilla nec. Ut ultricies ante a pellentesque mollis. Pellentesque ut tempor ipsum. Sed mattis ligula ut ante viverra, id efficitur nunc ultrices. Vestibulum nec nulla mauris.
    {%- endif -%}
    <br /><br />
  </p>
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}