{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header grey-text text-darken-3">
    Super Moms Club
  </h2>
  
  <p class="grey-text text-darken-2">
    {%- if lang == "CN" -%}
      REE TRANSLATEN'T
    {%- else -%}
      Super Moms Club is a Mom's club located in the GTA. 
    
      It offers seminars and networking events to help moms foster stronger relationships with their families and live better lives.
    {%- endif -%} 
  </p>
  
  <p class="grey-text text-darken-2">
    {%- if lang == "CN" -%}
      REE TRANSLATEN'T
    {%- else -%}
      {% if user %}
        Welcome back!
      {% else %}
        To join Super Moms club, you can <a href="/signup/">sign up</a> for a free account or <a href="/signin/">log in</a> to an existing one.
      {% endif %}
    {%- endif -%}
  </p>
  
  <p class="grey-text text-darken-2">
    
    {%- if lang == "CN" -%}
      REE TRANSLATEN'T
    {%- else -%}
      You can also <a href="/membership/">purchase a membership</a>, which gives you access to members-only events and discounts on certain products and workshops.
    {%- endif -%}
    
  </p>
  
  <br /><br />
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}