<div id="topcontainer">
  <center style="background-color:#333;color:#eee;font-size:120%;padding-top:0.4em;padding-bottom:0.4em">Learn more about COVID-19 and how you can keep yourself and others safe <a href="https://www.cdc.gov/coronavirus/2019-ncov/">here</a>.</center>
  <div id="navbar" class="{{ 'sticky' if __navbar_stuck else '' }}">
    <a href="/" style="margin:0;padding:0;"><img src="/static/images/logo.png" style="margin:0;padding:0" height=59px /></a>
    
    {%- for url, name in __navbar_elements -%}
      <a href="{{ url }}" class="{{ 'selected' if request.path == url else '' }}">{{ name }}</a>
    {%- endfor -%}

    {%- if user -%}
      <a class="right" href="/edit-profile">Welcome, {{ user.name }}</a>
      <a href="/logout{%- if request.endpoint -%}{{ '?next=' + (request.path | e) }}{%- endif -%}" class="right">Log Out</a>
    {%- else -%}
      <a href="/signup{%- if request.endpoint -%}{{ '?next=' + (request.path | e) }}{%- endif -%}" class="{{ 'selected' if request.endpoint and request.path == '/signup' else '' }} right">Sign Up</a>
      <a href="/signin{%- if request.endpoint -%}{{ '?next=' + (request.path | e) }}{%- endif -%}" class="{{ 'selected' if request.endpoint and request.path == '/signin' else '' }} right">Sign In</a>
    {%- endif -%}
  </div>
</div>
<div id="top-spacing-container"></div>