{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header grey-text text-darken-3">
    {{ post.title }}
  </h2>
  
  <h5 class="header grey-text text-darken-1">
    {{ get_user(post.author).username }} &nbsp; <span class="grey-text text-lighten-1">{{ post.create_time | format_time }}</span>
  </h5>
  
  {%- if user and user.admin -%}
  {{ delete_button("/delete-blog-post/%d" % post.id, "post") }}
  {%- endif -%}
  
  <hr class="card-divider" />
  <br />
  
  <div class="mdbox">
    {{ post.content | markdown | safe }}
  </div>
  
  <br /><br />
  <hr class="card-divider" />
  
  <h5 class="header grey-text text-darken-3">
    {{ locale["comments"] }}
  </h5>
  
  <br />
  
  {%- for comment in post.comments -%}
  <div>
    <h6>
      {{ get_user(comment.author).username }} &nbsp; <span class="grey-text text-lighten-1">{{ comment.create_time | format_time }}</span>
    </h6>
    {%- if comment.deleted -%}
    <span class="grey-text text-ligten-2">{{ locale["deleted_comment"] }}</span>
    {%- else -%}
    <div class="mdbox">
      {{ comment.content | markdown | safe }}
    </div>
    {%- if user and (comment.author == user.id or user.admin) -%}
    {{ delete_button("/delete-comment/%d" % comment.id, comment.id) }}
    {%- endif -%}
    {%- endif -%}
  </div>
  <hr class="card-divider" />
  {%- endfor -%}
  
  <h5 class="header grey-text text-darken-3">
    {{ locale["post_comment"] }}
  </h5>
  
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="comment" name="comment" class="materialize-textarea" required></textarea>
          <label for="comment">{{ locale["comment"] }}</label>
        </div>
        <button class="btn pink lighten-2 waves-effect" type="submit" name="action">
          {{ locale["post_action"] }}
        </button>
      </div>
    </form>
  </div>
</div>

{%- endblock -%}