{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header pink-text text-darken-1">
    {{ locale["privacy"] }}
  </h2>
  
  <p class="pink-text text-lighten-2">
    {%- if lang == "CN" -%}
    <b>我们怎么使用您的信息</b><br />
    您的个人信息只用来识别您为了服务您。您的信息用来验证您的账户让您用这个网站，然后永远不会给第三方或者公开。
    {%- else -%}
    <b>Use of Personal Information</b><br />
    Your personal information is only used to identify you as a user to better serve you. Your information is used to authenticate you to use this website, and will never be given to third parties or become publicly accessible anywhere.
    {%- endif -%}
  </p>
  
  <p class="pink-text text-lighten-2">
    {%- if lang == "CN" -%}
    <b>Cookies</b><br />
    Cookies用于存储信息关于您访问的网站。浏览器可以被配置不存cookies但是许多网站使用cookies增强用户体验。您的电子邮件和密码不会存在您的计算机上。这个网站取决cookies保守您已登录还有管理语言偏好。
    {%- else -%}
    <b>Cookies</b><br />
    Cookies are small data files stored on your computer to remember information about websites you visit. You may configure your browser to not allow cookies; however, many sites use cookies to enhance user experiences. Your email and password are not stored as cookies. This website relies on cookies to keep you signed in and manage language preferences.
    {%- endif -%}
  </p>
  
  <p class="pink-text text-lighten-2">
    {%- if lang == "CN" -%}
    <b>个人信息安全</b><br />
    没有系统可以百分之百保证是安全的。然而，我们采取步骤保证最高的安全性。您的信息在一个数据库上存着，在RackNerd上。RackNerd是一个可信的虚拟主机服务。支付信息靠Stripe管理，一个可信的网络交易服务。我们的目标是透明，所以我们会通知用户要是有影响他们的安全漏洞，然后您可以联系我们要是您有问题关于我们怎么管理您的信息。
    {%- else -%}
    <b>Security of Personal Information</b><br />
    No system can guarantee to be 100% secure. However, we take steps to ensure maximum security of your information. Your information is stored in a database on a controlled and secured environment on RackNerd, a trusted service for web hosting. Payment information is managed solely by Stripe, a trusted service for web transactions. We aim to be transparent, so we will notify users of any security vulnerabilities that affect their usage of this site, and you may contact us with any questions you have about how we handle your information.
    {%- endif -%}
    <br /><br />
  </p>
</div>

{%- endblock -%}