{%- extends 'layout.html' -%}

{%- block title -%}
Super Moms Club - {{ locale[p.type] }}
{%- endblock -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  <br><br><br>
  
  {% include 'flashes.html' %}
  
  <h2>
    {{ name }}
  </h2>
  
  <form method="post">
    
    <div class="row">
      <div class="col s4">
        <img src="/product/{{ p.id }}/image" class="responsive-img"/>      
      </div>
      
      <div class="col s8 mdbox">
        {{ desc | markdown | safe }}
      </div>
    </div>

    <div class="divider"></div>
    
    <br>
    
    {% if registered %}
      <p>
        {%- if lang == "CN" -%}
        您已经注册了该研讨会
        {%- else -%}
        You have already registered for this workshop.
        {%- endif -%}
      </p>    
    {% elif cart %}
      <p>
        {%- if lang == "CN" -%}
        您把这个研讨会加到了购物车里；请继续到<a href="/view-cart">结算</a>去确认您的注册。
        {%- else -%}
        You have added this workshop to your cart, and should proceed to <a href="/view-cart/">checkout</a> to confirm your registration.  
        {%- endif -%}
      </p>
    
      <button name="remove_cart" class="btn pink lighten-2 waves-effect" type="submit">
        {{ locale["remove_from_cart"] }}
      </button>
    {% elif p.workshop %}
      <div class="row">
        <div class="col">
          <button name="register" class="btn pink lighten-2 waves-effect" type="submit">
            {{ locale["register"] }}
          </button>
        </div>
      </div>
    {% elif cur_qty > 0 %}
      <p>
        {{ locale["current_quantity"].replace("_", str(cur_qty)) }}
      </p>
    
      <div class="row">
        <div class="col s2 input-field">
          <input type="number" id="qty" name="qty" min="0" max="{{p.stock}}"/>
          <label for="qty">{{ locale["new_quantity"] }}</label>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          
          <button name="register" class="btn pink lighten-2 waves-effect" type="submit">
            {{ locale["update_cart"] }}
          </button>
        </div>
      </div>
    {% elif p.stock == 0 %}
      <p>
        {{ locale["out_of_stock"] }}
      </p>  
    {% else %}
      <div class="row">
        <div class="col s2 input-field">
          <input type="number" id="qty" name="qty" min="0" max="{{p.stock}}"/>
          <label for="qty">{{ locale["quantity"] }}</label>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          
          <button name="register" class="btn pink lighten-2 waves-effect" type="submit">
            {{ locale["add_to_cart"] }}
          </button>
        </div>
      </div>
    
    {% endif %}
    
    <br><br>
    
  </form>
  
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}