{%- extends 'layout.html' -%}

{%- block title -%}
Super Moms Club - {{ locale[type] }}
{%- endblock -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  <br>
  
  {% include 'flashes.html' %}
  
  <h2>
    {{ locale[type] }}
  </h2>
  
  <br><br>
  
  {%- for i in range((len(products) + 3) // 4) -%}
    <div class="row">
      {% for p in products[i * 4: (i + 1) * 4] %}
        {% set desc = p.en_desc %}
        {% set name = p.en_name %}
      
        {% if lang == "CN" %}
          {% set desc = p.cn_desc %}
          {% set name = p.cn_name %}
        {% endif %}
      
        <div class="col s3">
          <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/product/{{p.id}}/image/">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ name }}<i class="material-icons right">more_vert</i></span>
            </div>

            <div class="card-action">
              <div class="row">
                <div class="col s3">
                  <a href="/product/{{ p.id }}" class="btn pink lighten-2 waves-effect">{{ locale["view"] }}</a>
                </div>
              </div>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
              <div>{{desc[:1000]}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endfor %}
  
  <div class="row">
    <div class="col">
      <a class="btn pink lighten-2 waves-effect" href="/view-cart/">{{ locale["checkout"] }}<i class="material-icons left">shopping_cart</i></a>
    </div>
  </div>
  
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}