{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <div class="row">
    <div class="col s12">
      <h2 class="header blue-grey-text text-darken-2">
        {{ locale["signup"] }}
      </h2>
    </div>
  </div>
  
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required value="{{ __field_email }}" />
          <label for="email">{{ locale["email"] }}</label>
          <span class="helper-text" data-error="{{ locale['invalid_email'] }}"></span>
        </div>
      <div class="row">
        <div class="col s12">
          <label>
            <input type="checkbox" required />
            <span>{{ locale["agree"] }} <a href="/tos">{{ locale["tos"] }}</a> and <a href="/privacy">{{ locale["privacy"] }}</a></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn pink lighten-2 waves-effect" type="submit" name="action">
            {{ locale["signup"] }}
          </button>
          &nbsp;&nbsp;&nbsp;
          <span class="grey-text">{{ locale["signin_crosslink_label"] }} <a href="/signin?next={{ query.get('next', '/') }}">{{ locale["signin_crosslink"] }}</a></span>
        </div>
      </div>
    </form>
  </div>
</div>

{%- endblock -%}