{%- extends 'layout.html' -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <div class="row">
    <div class="col s12">
      <h2 class="header pink-text text-darken-1">
        {{ locale["signin"] }}
      </h2>
      {%- if query.get("redir") == "no" -%}
      <span class="pink-text text-lighten-3">{{ locale["sensitive_info"] }}</span>
      <br /><br />
      {%- endif -%}
    </div>
  </div>
  
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required value="{{ __field_email }}" />
          <label for="email">{{ locale["email"] }}</label>
          <span class="helper-text" data-error="{{ locale['invalid_email'] }}"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required minlength=8 />
          <label for="password">{{ locale["password"] }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span class="grey-text">{{ locale["forgot_password"] }} <a href="/email-signin">{{ locale["email_signin"] }}</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn pink lighten-2 waves-effect" type="submit" name="action">
            {{ locale["signin"] }}
          </button>
          {%- if query.get("redir") != "no" -%}
          &nbsp;&nbsp;&nbsp;
          <span class="grey-text">{{ locale["signup_crosslink_label"] }} <a href="/signup?next={{ query.get('next', '/') }}" class="pink-text text-darken-2">{{ locale["signup_crosslink"] }}</a></span>
          {%- endif -%}
        </div>
      </div>
    </form>
  </div>
</div>

{%- endblock -%}