{%- extends 'layout.html' -%}

{%- block title -%}
Super Moms Club - {{ locale["view_cart"] }}
{%- endblock -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  {%- include 'flashes.html' -%}
  
  <h2 class="header grey-text text-darken-3">
    {{ locale["view_cart"] }}
  </h2>
  
  <h6>
    {{ locale["your_total_is"] }} ${{ "%.2f" % total }}
  </h6>
  
  <div class="divider"></div>
  
  <br>
  
  <div class="row">
    <div class="col s12">
      <table class="striped centered">
        <thead>
          <tr>
            <th>{{ locale["Product"] }}</td>
            <th>{{ locale["quantity"] }}</td>
          </tr>
        </thead>
        
        <tbody>
          {% for p, ci in items %}
            <tr>
              {% if lang == "EN" %}
                <td><a href="/product/{{ p.id }}">{{ p.en_name }}</a></td>
              {% else %}
                <td><a href="/product/{{ p.id }}">{{ p.cn_name }}</a></td>
              {% endif %}
              
              <td>
                {{ ci.count }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="divider"></div>

  <br>
  
  <form id="form" method="post">
    <button class="btn pink lighten-2 waves-effect" name="pay_method" type="submit" value="card">
      {{ locale["pay_with_card"] }}
    </button>
    
    <button class="btn pink lighten-2 waves-effect" name="pay_method" type="submit" value="paypal">
      {{ locale["pay_with_pp"] }}
    </button>
  </form>
  
  <br><br><br>
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}