{%- extends 'layout.html' -%}

{%- block title -%}
Super Moms Club - {{ locale["admin"] }} - {{ locale["products"] }}/{{ locale["workshops"] }}
{%- endblock -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  <br><br><br>
  
  {% include 'flashes.html' %}
  
  <h2>
    {{ locale["manage"] }} {{ locale["products"] }}/{{ locale["workshops"] }}
  </h2>
  
  <form method="post">
    
    {%- for i in range((len(products) + 1)// 2) -%}
      <div class="row">
        {% for p in products[i * 2: (i + 1) * 2] %}
          <div class="col s6">
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/product/{{p.id}}/image/">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ p.en_name }}<i class="material-icons right">more_vert</i></span>
              </div>

              <div class="card-action">
                <div class="row">
                  <div class="col s3">
                    <a href="/product/{{ p.id }}" class="btn pink lighten-2 waves-effect">{{ locale["view"] }}</a>                  
                  </div>
                  <div class="col s2">                
                    <a href="/admin/product/{{ p.id }}" class="btn pink lighten-2 waves-effect">{{ locale["edit"] }}</a>
                  </div>
                  <div class="col right s2">
                    <button name="delete" value="{{p.id}}" type="submit" class="btn pink lighten-2 waves-effect right">
                      {{ locale["delete"] }}
                    </button>
                  </div>
                </div>
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{p.en_name}}<i class="material-icons right">close</i></span>
                <div>{{p.en_desc[:1000]}}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    
    <div class="divider"></div>
    <br>
    
    <h4>
      {{ locale["create"] }} {{ locale["Product"] }}/{{ locale["Workshop"] }}
    </h4>
    
    <div class="row">
      <div class="switch col">
        <label>
          {{ locale["Product"] }}
          <input type="checkbox" name="workshop">
          <span class="lever"></span>
          {{ locale["Workshop"] }}
        </label>
      </div>
    </div>
        
    <div class="row">
      <div class="col">
        <button type="submit" class="btn pink lighten-2 waves-effect">
          {{ locale["create"] }}
        </button>
      </div>
    </div>
    
    <br><br>
  </form>
  
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}