{%- extends 'layout.html' -%}

{%- block title -%}
Super Moms Club - Sub-Forum
{%- endblock -%}

{%- block content -%}

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-2.jpg" width=100vw />
  </div>
</div>

<div class="container">
  <br>
  
  <div class="row">
    <nav>
      <div class="nav-wrapper pink lighten-2">
        <div class="col s12">
          <a href="/forum" class="breadcrumb">Forum</a>
          <a href="/forum/{{ sub_f.id }}" class="breadcrumb">{{ sub_f.title }}</a>
          <a href="{{ request.path }}" class="breadcrumb">{{ thread.title }}</a>
        </div>
      </div>
    </nav>
  </div>
  
  {% include 'flashes.html' %}
  
  <h2>
    {{ thread.title }}
  </h2>
  
  <div class="divider">
    
  </div>
  
  {% for u, p in content %}
    <div class="row">
      <div class="col s6">
        {% if u.admin %}
          <h5 class="grey-text text-darken-4">
            <strong>{{u.username}}</strong>
          </h5>
        {% elif u.premium %}
          <h5 class="amber-text text-accent-4">
            {{ u.username }}
          </h5>
        {% else %}
          <h5 class="grey-text text-lighten-1">
            {{ u.username }}
          </h5>
        {% endif %}
      </div>
      
      <div class="col right">
        <span class="grey-text">{{ p.time | format_time}}</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col s12">
        {{ p.content | markdown | safe }}
      </div>    
    </div>
  
    <div class="divider"></div>
  {% endfor %}
  
  <br>
    
  <h4>
    Create Post
  </h4>

  <form method="post">

    <div class="row">
      <div class="input-field col s12">
        <textarea name="content" id="content" class="materialize-textarea"></textarea>
        <label for="content">Content</label>
        <span class="helper-text">The content is formatted with markdown. For more information, please check the FAQ.</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn pink lighten-2 waves-effect">
          Post
        </button>
      </div>
    </div>
  </form>

  <br><br>
  
</div>

<div class="parallax-container" style="height:40vh">
  <div class="parallax">
    <img src="/static/images/banner-3.jpg" width=100vw />
  </div>
</div>

{%- endblock -%}